In [23]:
import pandas as pd
import psycopg2
import numpy as np
import re

# Bronze

Conjunto de dados:  "Inside Airbnb"

Passo a Passo:
1. Vá no link https://insideairbnb.com/get-the-data
2. Procure por "Rio de Janeiro"
3. Baixe os 3 .csv: "Listing", "Reviews" e Calendar" 

0bs: Caso queira pular estes passos, basta utilizar os .csvs que já estão nessa pasta: https://drive.google.com/drive/folders/1pwCpVsMu5si7BX1lzWX3tipP3fAPuoX3?usp=drive_link

Criação do banco de dados PostgreSQL com as 3 tabelas ("Listing", "Reviews" e Calendar"):
1. Rode o arquivo 'create_tables.sql'
2. Rode o arquivo 'copy.sql' alterando o caminho para seus .csvs localmente
3. Crie sua conexão abaixo (não exclua as demais)

In [13]:
# James:
# conn = psycopg2.connect(dbname='airbnb_project', user='postgres', host='localhost', password='123456', port="5432")

# Marcela: 
conn = psycopg2.connect(dbname='myDBProject', user='postgres', host='localhost', password='0125698741', port="5433")

Carregue os dados das tabelas 'listings' , 'reviews' , 'calendar':

In [17]:
def load_data_from_table(table_name):
    query = f"SELECT * FROM {table_name};"
    df = pd.read_sql_query(query, conn)
    return df

df_listings = load_data_from_table('listings')
df_reviews = load_data_from_table('reviews')
df_calendar = load_data_from_table('calendar')

/var/folders/8k/smxjq0q17kz2976yb3t29z6r0000gn/T/ipykernel_63787/2710205896.py:3: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql_query(query, conn)

In [19]:
print("Número de linhas e colunas:", df_listings.shape)
print("Duas primeiras linhas:")
df_listings.head(2)

Número de linhas e colunas: (36008, 75)
Duas primeiras linhas:

,id,listing_url,scrape_id,last_scraped,source,name,description,neighborhood_overview,picture_url,host_id,...,review_scores_communication,review_scores_location,review_scores_value,license,instant_bookable,calculated_host_listings_count,calculated_host_listings_count_entire_homes,calculated_host_listings_count_private_rooms,calculated_host_listings_count_shared_rooms,reviews_per_month
0,17878,https://www.airbnb.com/rooms/17878,20231226034138,2023-12-27,city scrape,Condo in Rio de Janeiro · ★4.70 · 2 bedrooms ·...,None,This is the one of the bests spots in Rio. Bec...,https://a0.muscache.com/pictures/65320518/3069...,68997,...,4.91,4.77,4.67,None,False,1,1,0,0,1.90
1,25026,https://www.airbnb.com/rooms/25026,20231226034138,2023-12-27,city scrape,Rental unit in Rio de Janeiro · ★4.72 · 1 bedr...,None,Copacabana is a lively neighborhood and the ap...,https://a0.muscache.com/pictures/a745aa21-b8dd...,102840,...,4.92,4.84,4.60,None,False,1,1,0,0,1.67

In [20]:
print("Número de linhas e colunas:", df_reviews.shape)
print("Duas primeiras linhas:")
df_reviews.head(2)

Número de linhas e colunas: (703796, 6)
Duas primeiras linhas:

,listing_id,id,date,reviewer_id,reviewer_name,comments
0,17878,64852,2010-07-15,135370,Tia,This apartment is in a perfect location -- two...
1,216700,1511171,2012-06-18,2598011,Evelyn,"A estada foi maravilhosa, ficamos so 3 noites ..."

In [21]:
print("Número de linhas e colunas:", df_calendar.shape)
print("Duas primeiras linhas:")
df_calendar.head(2)

Número de linhas e colunas: (13145595, 7)
Duas primeiras linhas:

,listing_id,date,available,price,adjusted_price,minimum_nights,maximum_nights
0,17878,2023-12-27,False,$350.00,None,5.0,28.0
1,17878,2023-12-28,False,$350.00,None,5.0,28.0

# Silver

### Clean data
- Identifique e lide com valores ausentes, duplicatas e outliers nos dados brutos da camada "bronze".

In [ ]:
def remove_valores_ausentes(df):
    pass

In [ ]:
def remove_duplicatas(df):
    pass

In [ ]:
def remove_outliers(df):
    pass

In [12]:
#def clean_data(df):
    # Identificar e lidar com valores ausentes
    #df = df.replace('', np.nan)  # substituir strings vazias por NaN
    #df = df.dropna()  # remover linhas com valores NaN

    # Lidar com duplicatas
    #df = df.drop_duplicates()

    # Lidar com outliers
    # Aqui, usamos o método do Intervalo Interquartil (IQR) para identificar e remover outliers
    # Este é apenas um exemplo e pode não ser adequado para todos os conjuntos de dados ou colunas
    #Q1 = df.quantile(0.25)
    #Q3 = df.quantile(0.75)
    #IQR = Q3 - Q1
    #df = df[~((df < (Q1 - 1.5 * IQR)) | (df > (Q3 + 1.5 * IQR))).any(axis=1)]

    #return df

In [ ]:
# Exemplo de uso:
#df_listings_clean = clean_data(df_listings)
#df_reviews_clean = clean_data(df_reviews)
#df_calendar_clean = clean_data(df_calendar)

### Padronizacao de colunas
- Padronize e limpe os nomes das colunas, convertendo-os em um formato consistente.

In [ ]:
def clean_column_names(df):
    # Remover espaços e converter para minúsculas
    df.columns = df.columns.str.replace(' ', '_').str.lower()
    return df

In [ ]:
def converte_formato(df):
    pass

In [24]:
def tratar_df_reviews(df):
    df['date'] = pd.to_datetime(df['date'])

    return df

In [25]:
df_reviews_clean = tratar_df_reviews(df_reviews)
df_reviews_clean.dtypes

listing_id                int64
id                        int64
date             datetime64[ns]
reviewer_id               int64
reviewer_name            object
comments                 object
dtype: object

### Limpeza textual
- Realize uma limpeza textual em campos, como descrições de propriedades, removendo caracteres especiais e erros de digitação.

In [26]:
def clean_text(text):
    if isinstance(text, str):
        # Remove caracteres especiais e mantém apenas letras, números, espaços e pontuações
        cleaned_text = re.sub(r'[^a-zA-Z0-9\s.,]', '', text)
        # Remove espaços extras e mantém apenas um espaço entre palavras
        cleaned_text = re.sub(r'\s+', ' ', cleaned_text)
        return cleaned_text
    else:
        return text

In [27]:
df_listings['description_cleaned'] = df_listings['description'].apply(clean_text)
df_listings['host_about_cleaned'] = df_listings['host_about'].apply(clean_text)

In [28]:
df_listings.head(2)

,id,listing_url,scrape_id,last_scraped,source,name,description,neighborhood_overview,picture_url,host_id,...,review_scores_value,license,instant_bookable,calculated_host_listings_count,calculated_host_listings_count_entire_homes,calculated_host_listings_count_private_rooms,calculated_host_listings_count_shared_rooms,reviews_per_month,description_cleaned,host_about_cleaned
0,17878,https://www.airbnb.com/rooms/17878,20231226034138,2023-12-27,city scrape,Condo in Rio de Janeiro · ★4.70 · 2 bedrooms ·...,None,This is the one of the bests spots in Rio. Bec...,https://a0.muscache.com/pictures/65320518/3069...,68997,...,4.67,None,False,1,1,0,0,1.90,None,I am a journalistwriter. Lived in NYC for 15 y...
1,25026,https://www.airbnb.com/rooms/25026,20231226034138,2023-12-27,city scrape,Rental unit in Rio de Janeiro · ★4.72 · 1 bedr...,None,Copacabana is a lively neighborhood and the ap...,https://a0.muscache.com/pictures/a745aa21-b8dd...,102840,...,4.60,None,False,1,1,0,0,1.67,None,"Hi guys, Viviane is a commercial photographer,..."

In [ ]:
# df_listings = clean_column_names(df_listings)
# df_reviews = clean_column_names(df_reviews)
# df_calendar = clean_column_names(df_calendar)

In [ ]:
#def clean_data_specific(df):
#    for col in df.columns:
#        if df[col].dtype == 'object':  # se a coluna é do tipo texto
#            df[col] = df[col].apply(clean_text)
#            Se a coluna deve ser numérica, converta-a
#            if col in ['host_response_rate', 'host_acceptance_rate', 'price']:
                #df[col] = df[col].str.replace('%', '').str.replace('$', '').astype(float)
#        elif df[col].dtype in ['int64', 'float64']:  # se a coluna é numérica
#            df[col] = df[col].fillna(0)  # preenche valores ausentes com 0
#        elif df[col].dtype == 'datetime64':  # se a coluna é uma data/hora
#           df[col] = pd.to_datetime(df[col], errors='coerce')  # converte para o tipo de data correto
#    return df

In [ ]:
# Exemplo de uso:
# df = clean_data_specific(df)